body {
	background-color: hsl(212, 45%, 89%);
	font-family: 'outfit', outfit;
	font-size: 15px;
	display: flex;
	align-items:center;
	min-height: 100vh;
	justify-content: center;
}

h1 {
	font-size: 1.5em;
	color: hsl(218, 44%, 22%);
}

main {
	width: 250px;
	border-radius: 15px;
	padding: 20px;
	background-color: hsl(0, 0%, 100%);
	text-align: center;
}

img {
	max-width: 100%;
	border-radius: 15px;
}

p {
	color: hsl(220, 15%, 55%);
}
